name: CI

on:
  push:
    branches:
      - "**" # запуск на любые ветки
  pull_request:
    branches:
      - master
      - main

jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # ----------- TESTS -----------
      - name: Run tests
        run: yarn test
