name: CI

on:
  push:
    branches:
      - "**" # запуск на любые ветки
  pull_request:
    branches:
      - master
      - main

jobs:
  build-test-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # ----------- TESTS -----------
      - name: Run tests
        run: yarn test

      - name: Test coverage
        run: yarn test:coverage

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage

      # ----------- HEALTH CHECK -----------
      - name: Start server
        run: |
          yarn start &
          sleep 5

      - name: Health check
        run: |
          curl -f http://localhost:3000/users || exit 1

